@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .cardBorderGradient::before {
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    padding: 1px;
    background: radial-gradient(
      75% 75% at 25% 15%,
      #707070 0,
      hsla(0, 0%, 100%, 0.203) 100%
    );
    -webkit-mask: linear-gradient(#000, #000) content-box,
      linear-gradient(#000, #000);
    mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    opacity: 0.2;
    pointer-events: none;
  }
  hr {
    @apply: opacity-5;
  }
  .gradients_heroHeading {
    -webkit-background-clip: text !important;
    background-clip: text;
    background: linear-gradient(140deg, #828282, rgb(0, 0, 0)), #000000;
  }
}
